{% extends "template.html" %}
{% block content %}
    <form method="POST" action="/authenticate">
        <input type="hidden" name="url_after_login" value="{{ url_after_login or url_for('home') }}">
        <p><label>Username:</label> <input class="form-control" type="text" name="username" required></p>
        <p><label>Password:</label> <input class="form-control" type="password" name="password" required></p>
        <p><button class="btn btn-primary" type="submit">Login</button></p>
    </form>
{% endblock %}